.containerModal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.48);
  z-index: 1;
}

.modal {
  color: white;
  position: relative;
  padding: 20px;
  margin: 0 20px;
  border-radius: 4px;
  background: rgb(38,50,65);
  animation-name: fade;
  animation-duration: 400ms;
  max-width: 90%;
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal h1 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.containerItens {
  padding: 10px;
}

.produto {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px auto auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "img nome nome"
    "img qtde preco"
    "img key key";
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px 1px rgba(97, 152, 207, 0.336);    
  border-radius: 5px;
  padding: 10px;
}

.produto img {
  background-color: rgb(202, 202, 202);
  border-radius: 4px;
  grid-area: img;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nome {
  grid-area: nome;
  font-size: 1.5rem;
  font-weight: bold;
}

.qtde {
  grid-area: qtde;
  font-size: 1rem;
  font-weight: bold;
}

.preco {
  grid-area: preco;
}

.key {
  grid-area: key;
  justify-self: center;
  align-self: self-start;
  text-align: center;
  padding: 5px;
  box-shadow: 0px 0px 0px 1px rgba(97, 152, 207, 0.336);    
  transition: 0.1s;
}

.key:hover {
  scale: 1.03;
  cursor: pointer;
}

@media (max-width: 600px) {
  .produto {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "img"
      "nome"
      "qtde"
      "preco"
      "key";
  }

  .produto img {
    width: 100%;
    height: auto;
  }
}
