.menuHamburger{
  display: none;
  height: 50px;
  }
.menuHamburgerClose{
  display: none;
  height: 50px;
  }
  
  
  @media (min-width: 200px) and (max-width: 1024px) {
    .menuHamburger {
      position: relative;
      
      display: flex;
      }



.menuHamburgerClose {
  display: flex;

}

}