html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Open Sans", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  position: relative;
  background-color: rgb(21,29,39);
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body, h1, h2, h3, h4, h5, h6, p, a, span{
  color: white;
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 70rem;
  padding: 0 1rem;
  margin: 0 auto;
}


/*   animations  */

.animation-opacity {
  transition: 0.5s;
  animation: forwards show-opacity 0.3s;
}

@keyframes show-opacity {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 100%;
    transform: initial;
  }


}